*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #00008B;
    display: flex;
    justify-content: center;
}

.container{
    width: 800px;
    height: 500px;
    position: relative;
    text-align: center;
}

.container img{
    width: 250px;
    height: auto;
    margin-top: 10px;
}

.text{
    position: absolute;

    top: 110px;
    left: 50%;

    transform: translateX(-50%);

    width: 450px;

    color: white;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.loader{
    position: absolute;

    top: 50%;
    left: 50%;

    width: 120px;
    height: 120px;

    border: 18px solid white;
    border-top: 18px solid red;

    border-radius: 50%;

    transform: translate(-50%, -50%);

    animation: spin 1.2s linear infinite;
}

@keyframes spin{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}