.image-container{
    position: relative; /*"Tao làm mốc cho con."*/
    width: 700px;
}

.image-container img{
    width: 100%;
    display: block;
}

.caption{
    position: absolute; /*Tao bám theo mốc cha*/
    bottom: 100px;
    left:0;
    width: 100%;
    box-sizing: border-box;

    background: rgba(0,0,0,0.5);
    color: rgb(202, 192, 192);

    padding: 20px;
    font-size: 32px;
    font-weight: bold;
}